$color-primary: #0088FF;
$color-primary-v2: rgb(62, 95, 172);

$color-white: white;
$color-black: rgb(22, 22, 22);

$color-grey-v1: mix($color-black, $color-white, 80%);
$color-grey-v2: mix($color-black, $color-white, 60%);
$color-grey-v3: mix($color-black, $color-white, 40%);
$color-grey-v4: mix($color-black, $color-white, 20%);

$font-color-v1: rgb(55, 55, 55);
