.button {
	cursor: pointer;
	width: max-content;
	padding: 10px 40px;
	border-radius: 8px;
	font-size: 1rem;
	font-weight: 600;
	transition: 400ms all;
	box-shadow: $dropshadow-v2;
	margin-top: 30px;

	&.bg-primary {
		background-color: $color-primary;
		color: $color-white;
		border: 2px solid mix($color-white, transparent, 100%);

		&:hover {
			background-color: $color-white;
			color: $color-primary;
			border: 2px solid $color-white;
		}
	}

	&.bg-white {
		background-color: $color-white;
		color: $color-primary;
		border: 2px solid mix($color-primary, transparent, 100%);

		&:hover {
			background-color: $color-primary;
			color: $color-white;
			border: 2px solid $color-white;
		}
	}
}
