.button {
	cursor: pointer;
	width: max-content;
	padding: 10px 40px;
	border-radius: 8px;
	color: white;
	background-color: $color-primary;
	border: 2px solid $color-primary;
	font-size: 1rem;
	transition: 400ms all;
	box-shadow: 3px 3px 15px rgba(39, 39, 81, 0.24);
	margin-top: 30px;
	&:hover {
		background-color: white;
		color: $color-primary;
	}
}
