.bg-transparent {
	background-color: transparent;
}
.bg-primary {
	background-color: $color-primary;
}
.bg-white {
	background-color: white;
}
.bg-black {
	background-color: $color-black;
}
.bg-grey-v1 {
	background-color: $color-grey-v1;
}
.bg-grey-v2 {
	background-color: $color-grey-v2;
}
.bg-grey-v3 {
	background-color: $color-grey-v3;
}
.bg-grey-v4 {
	background-color: $color-grey-v4;
}
