body.home {
	section.hero {
		position: relative;
		height: calc(100vh + 0px);
		overflow: hidden;

		.section-container {
			z-index: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.logo-icon {
				width: 70px;
				aspect-ratio: 1 / 1;
				object-fit: contain;
				pointer-events: none;
				user-select: none;
			}

			.hero-text {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				filter: $dropshadow-v1;

				.text-a {
					color: $color-white;
					font-size: 2rem;
					font-weight: 600;
					margin-bottom: 30px;
					display: none;
				}

				.text-b {
					color: $color-white;
					font-size: 5rem;
					text-align: center;
				}
			}
		}

		.bg-image {
			$x-offset: 200px;
			$y-offset: 150px;

			position: absolute;
			top: calc(50% + $y-offset);
			left: calc(50% + $x-offset);
			transform: translateX(-50%) translateY(-50%);
			height: calc(100% + 200px);
			aspect-ratio: 1 / 1;
			object-fit: contain;
			opacity: 0.3;
		}
	}

	section.announcements {
		overflow: hidden;
		position: relative;
		background-color: mix($color-primary, white, 20%);

		.section-container {
			z-index: 1;

			.card-wrapper {
				display: flex;
				flex-direction: column;
				gap: 40px;

				.card {
					height: 400px;
					width: 100%;
					display: grid;
					grid-template-columns: 2fr 3fr;
					border-radius: 10px;
					box-shadow: $dropshadow-v2;
					overflow: hidden;
					transition: 0.4s all ease-out;
					cursor: pointer;
					filter: saturate(0.3);
					image-rendering: optimizeQuality;
					text-rendering: optimizeLegibility;

					.image {
						height: inherit;
						width: 100%;
						object-fit: cover;
						transition: 0.4s all ease-out;
					}

					.content-container {
						display: flex;
						flex-direction: column;
						justify-content: center;
						gap: 10px;
						padding: 50px;
						background-color: $color-white;
						box-shadow: $dropshadow-v2;
						z-index: 1;

						.title {
							color: $color-primary;
						}
					}

					&:hover {
						scale: 1.02;
						filter: saturate(1);

						.image {
							scale: 1.08;
						}
					}
				}
			}
		}

		.bg-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0.1;
		}
	}

	section.about {
		background-color: $color-primary;
		height: 400px;

		.section-container {
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.section-heading {
				color: $color-white;
				margin-bottom: 30px;
			}

			.section-content {
				color: $color-white;
			}
		}
	}
}
