body.home {
	section.hero {
		position: relative;
		height: 100vh;
		overflow: hidden;

		.section-container {
			z-index: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.logo-icon {
				width: 70px;
				aspect-ratio: 1 / 1;
				object-fit: contain;
			}

			.hero-text {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				filter: $dropshadow-v1;

				.text-a {
					color: $color-white;
					font-size: 2rem;
					font-weight: 600;
					margin-bottom: 30px;
				}

				.text-b {
					color: $color-white;
					font-size: 4rem;
					text-align: center;
				}
			}
		}

		.bg-image {
			$x-offset: 200px;
			$y-offset: 150px;

			position: absolute;
			top: calc(50% + $y-offset);
			left: calc(50% + $x-offset);
			transform: translateX(-50%) translateY(-50%);
			height: calc(100% + 200px);
			aspect-ratio: 1 / 1;
			object-fit: contain;
			opacity: 0.5;
		}
	}
}
