header {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	color: mix($color-primary, transparent, 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: $color-primary;
	border-bottom: 2px solid $color-white;

	.header-nav {
		$box-height: 60px;
		$border-style: 2px solid $color-primary;

		// padding-inline: 30px;
		// padding-block: 30px;
		width: 100%;
		height: $box-height;
		// max-width: $width-section-container;
		font-size: 1.2rem;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		// gap: 50px;

		.logo {
			height: 100%;
			display: flex;
			align-items: center;
			gap: 20px;
			user-select: none;
			cursor: pointer;
			transition: 400ms all;

			&:hover {
				opacity: 0.6;
			}

			.logo-container {
				border-right: 2px solid $color-white;
				height: 100%;
				aspect-ratio: 1 / 1;

				.logo-a {
					height: 100%;
					aspect-ratio: 1 / 1;
					object-fit: contain;
					scale: 0.6;
				}
			}

			.logo-b {
				height: 80%;
				transform: translateY(-5%);
			}
		}

		.hamburger-container {
			margin-left: auto;
			border-left: 2px solid $color-white;
			height: 100%;
			width: auto;
			display: grid;
			place-items: center;
		}

		ul {
			list-style: none;
			display: flex;
			display: none;
			// gap: 50px;
			// padding: 20px;
		}

		li {
			position: relative;
			transition: all 200ms;
			height: $box-height;
			display: grid;
			place-items: center;
			padding-inline: calc($box-height / 2);

			.sub-menu {
				display: none;
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				width: max-content;
				height: max-content;
				background-color: $color-primary;
				border-radius: 10px;
				padding: 20px;
				flex-direction: column;
				gap: 10px;
			}

			&:hover {
				transform: translateY(-20%);
				.sub-menu {
					display: flex;
				}
			}

			.sub-menu:hover {
				display: flex;
			}
		}

		a:link,
		a:visited {
			color: inherit;
		}

		.current-menu-item {
			color: $color-primary;
		}
	}
}
