section {
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;

	.section-container {
		padding: $padding-section-inline $padding-section-block;
		max-width: $width-section-container;
		width: 100%;
		height: 100%;
	}
}


